.d3-gauge.grayscale .outer-circle {
  fill         :  #333;
  stroke       :  #000;
  stroke-width :  0.5px;
}

.d3-gauge.grayscale .inner-circle {
  fill         :  #111;
  stroke       :  #E0E0E0;
  stroke-width :  2px;
}

.d3-gauge.grayscale .label {
  fill      :  #888;
  font-size :  24px;
}

.d3-gauge.grayscale .major-tick {
  stroke       :  #888;
  stroke-width :  2px;
}

.d3-gauge.grayscale .minor-tick {
  stroke       :  #777;
  stroke-width :  1px;
}

.d3-gauge.grayscale .major-tick-label {
  fill         :  #ddd;
  stroke-width :  2px;
  font-size    :  15px;
}

.d3-gauge.grayscale .needle {
  fill         :  #888;
  stroke       :  #555;
  fill-opacity :  0.7;
}

.d3-gauge.grayscale .needle-container {
  fill         :  #444;
  stroke       :  #666;
  fill-opacity :  1;
}

.d3-gauge.grayscale .current-value {
  fill         :  #fff;
  stroke-width :  0px;
}

.d3-gauge.grayscale .green-zone {
  fill :  #ddd;
}

.d3-gauge.grayscale .yellow-zone {
  fill :  #888
}

.d3-gauge.grayscale .red-zone {
  fill :  #666
}
