.d3-gauge.small .outer-circle {
  fill         :  #ccc;
  stroke       :  #000;
  stroke-width :  0.5px;
}

.d3-gauge.small .inner-circle {
  fill         :  #fff;
  stroke       :  #E0E0E0;
  stroke-width :  2px;
}

.d3-gauge.small .label {
  fill      :  #333;
  font-size :  12px;
}

.d3-gauge.small .major-tick {
  stroke       :  #333;
  stroke-width :  1.5px;
}

.d3-gauge.small .minor-tick {
  stroke       :  #666;
  stroke-width :  1px;
}

.d3-gauge.small .major-tick-label {
  fill         :  darkblue;
  stroke-width :  2px;
  font-size    :  10px;
}

.d3-gauge.small .needle {
  fill         :  #dc3912;
  stroke       :  #c63310;
  fill-opacity :  0.7;
}

.d3-gauge.small .needle-container {
  fill         :  #4684EE;
  stroke       :  #666;
  fill-opacity :  1;
}

.d3-gauge.small .current-value {
  fill         :  #000;
  stroke-width :  0px;
}

.d3-gauge.small .green-zone {
  fill :  #FF9900
}

.d3-gauge.small .yellow-zone {
  fill :  #FF9900
}

.d3-gauge.small .red-zone {
  fill :  #DC3912
}
